.title{
    color: #ff5a5f;
}

h1 {
    text-align: center;
}

.table-responsive{

    margin-left: 30%;
}

.bookings{
  margin-left: 29%;
   
}

// .buttons {
//     text-align: center;
//     align-content: center;
//     margin: 0 auto;
// }
