<ion-header>
  <ion-toolbar>
    <ion-title>Host Properties</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content text-center>
  <h1>My Properties</h1>


  <ion-grid class="listing-grid">
    <ion-row>
      <ion-col *ngFor="let listing of listing" col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3>
        <ion-card>
          <img src={{listing.imgUrl}} class="listing-image">
          <ion-card-content>
            <h3 class="black-text">{{listing.location}}</h3>
            <h1 text-capitalize class="black-text">{{listing.title}}</h1>
            <h3 class="center">${{listing.pricePerNight}} per night</h3>
            <ion-item center expand=full>
                <ion-button center (click)="goToPropertyDetails(listing)" expand=full color=danger>Details</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

<div text-center>
  <ion-button expand=full color=danger (click)="goToCreateProperty()">Create new property</ion-button>
</div>
  

<div class="center" >
  <ion-button (click)="goToUser()"><ion-icon name="person"></ion-icon>Profile</ion-button>
  <ion-button><ion-icon name="globe"></ion-icon>My Listings</ion-button>
  </div>


</ion-content>
