<ion-header>
  <ion-toolbar>
    <ion-title class="title">Airbnb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>

  <h1>Congratulations!</h1>
  <br>
  <h1> Your Booking Was Made Successfully</h1>


  <div class="buttons">
    <ion-button (click)="goToUser()">
      <ion-icon name="person"></ion-icon>Profile
    </ion-button>
    <ion-button (click)="goToProperties()">
      <ion-icon name="globe"></ion-icon>Explore
    </ion-button>
    <ion-button (click)="goToBookings()">
      <ion-icon name="book"></ion-icon>Bookings
    </ion-button>
  </div>

</ion-content>