h1 {
    text-align: center;
}


.avatar{
    margin: auto;
    size: large;
    width: 200px !important; 
    height : 200px !important;
 }

 .item-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 400px !important;  //any size
    max-height: 400px !important; //any size 
    }

 .description {
     text-size-adjust: large;
 }